body {
	padding-top: 50px;
}

header{
	text-align: center;
}

section{
	margin-top: 5px;
	margin-bottom: 5px;
}

#d3-map path{
	fill-opacity: .7;
	stroke: #fff;
	stroke-width: 1.5px;
	cursor: pointer;
}
#d3-map path:hover {
   	fill-opacity: .8;
}

.dc-chart g.row text{
	fill: black;
}

.infoPanel {
    padding: 6px 8px;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.infoPanel h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.map{
	margin-top: 2em;
	margin-bottom: 2em;
}

#overlay {
  	position:fixed;
	top:0px;
	left:0px;
	width: 100%;
	height: 100%;
	background-color:#ccc;
	z-index:1020;
}
#loadinganimation img{
	width: 120px;
}
#loadinganimation  {
	
	position:absolute;
	top:50%;
	left:50%;
	background-color:#ccc;
	z-index:1002;
	overflow:auto;

}

#plotted-map{
	height: 500px;
}

#choropleth-map{
	height: 500px;
}

#d3-map{
	height: 500px;
	width: 1140px;
}

#data-count{
	text-align: left;
}

#main-content{
	text-align: center;
}

#footer{
	text-align: center;
}