body {
	padding-top: 50px;
}

header{
	text-align: center;
}

section{
	margin-top: 5px;
	margin-bottom: 5px;
}
.dc-chart g.row text{
	fill: black;
}

#plotted-map{
	height: 500px;
}

#data-count{
	text-align: left;
}

#main-content{
	text-align: center;
}

#footer{
	text-align: center;
}